# Ignorar arquivos de ambiente
.env

# Ignorar diretórios de volumes do Docker
/volumes/

# Ignorar arquivos de configuração local
*.local

# Ignorar arquivos temporários
*.tmp
*.log

# Ignorar diretórios de cache
.cache/
.temp/

# Ignorar arquivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de build do Docker (se houver)
Dockerfile-*
docker-compose.override.yml
